@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.appts {

    &__add-btn-container {
        width:40%;
        display: flex;
        flex-direction: row-reverse;
        // justify-self:flex-end;
        
    }

    &__edit-btn, &__delete-btn {
        background-color: transparent;
        color: $fifth;
        border: none;
       


    }

    &__table {

            border-collapse: collapse;
            // border: 2px solid rgb(140 140 140);
            // font-family: sans-serif;
            font-size: 0.8rem;
            letter-spacing: 1px;
            width:50%;
          
    }

    &__table-top-section {
        border-bottom: 1px solid black;
    }

    &__row {
        cursor: pointer;
        &:hover{
            color: $fifth;
            font-weight:bold;
        }
    }

}


td{
    border-right: 1px solid black;
}